<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">{{ display_users ? 'Users' : 'Users'}}</h3>
                </div>
                <div class="card-body">

                    <nb-card>

                        <nb-card-body *ngIf="display_users">
                            <ng2-smart-table [settings]="settings" [source]="source" (create)="addUser()"
                                (edit)="editUser($event)" (delete)="deleteUser($event)">
                            </ng2-smart-table>
                        </nb-card-body>

                        <nb-card-body *ngIf="!display_users">
                            <form>
                                <div class="form-group">
                                    <label class="label" for="account_name">Account Name</label>
                                    <input type="text" class="form-control form-control-alternative" id="account_name" placeholder="Account Name"
                                        autofocus status="primary">
                                </div>
                                <div class="form-group">
                                    <label class="label" for="email">Email address</label>
                                    <input class="form-control form-control-alternative" type="email" id="email" placeholder="Email address"
                                        autofocus status="primary">
                                </div>
                                <div class="form-group">
                                    <label class="label" for="position">Position</label>
                                    <input class="form-control form-control-alternative" type="text" id="position" placeholder="Position" autofocus
                                        status="primary">
                                </div>
                                <div class="form-group">
                                    <label class="label" for="Roles">Access Role</label><br>
                                    <select class="form-control form-control-alternative" [(ngModel)]="accountRole" placeholder="Access Role"
                                        name="Roles" ariaLabel="roles[0]" status="primary">
                                        <option *ngFor="let rl of roles" [value]="rl.name">{{rl.name}}</option>
                                    </select>
                                </div>
                                <br><br>
                                <nb-card *ngIf="button_pressed" [nbSpinner]="true" nbSpinnerSize="giant"
                                    nbSpinnerStatus="primary">
                                    <nb-card-body>
                                    </nb-card-body>
                                </nb-card>
                                <button *ngIf="!button_pressed" class="btn btn-success" (click)="registerUser()">
                                    Add User
                                </button>
                                <button class="btn btn-danger" (click)="cancelAddUser()">Cancel</button>
                            </form>
                        </nb-card-body>
                    </nb-card>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #user let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Update User</nb-card-header>
        <nb-card-body>
            <div class="form-control-group">
                <label class="label" for="Roles">Access Role</label><br>
                <select class="form-control form-control-alternative" [(ngModel)]="accountRole" placeholder="Access Role" name="Roles" ariaLabel="roles[0]"
                    status="primary">
                    <option *ngFor="let rl of roles" [value]="rl.name">{{rl.name}}</option>
                </select>
            </div>
            <br>
            <div class="form-control-group">
                <label class="label" for="Blocked">Blocked Status</label><br>
                <select class="form-control form-control-alternative" [(ngModel)]="blocked_status" placeholder="Blocked Status" name="Blocked"
                    ariaLabel="blocks_data[0]" status="primary">
                    <option *ngFor="let bd of blocks_data" [value]="bd.value">{{bd.viewValue}}</option>
                </select>
            </div>
            <br>

            <button class="btn btn-success" (click)="userButtonAction()">Update</button>
        </nb-card-body>
        <nb-card-footer>
            <button class="btn btn-danger" (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>