<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">{{ display_users ? 'Organizers' : 'Organizers'}}</h3>
                </div>
                <div class="card-body">

                    <nb-card>

                        <nb-card-body *ngIf="display_users">
                            <ng2-smart-table [settings]="settings" [source]="source" (create)="addUser()"
                                (edit)="editUser($event)" (delete)="deleteUser($event)">
                            </ng2-smart-table>
                        </nb-card-body>

                        <nb-card-body *ngIf="!display_users">
                            <form>
                                <div class="form-group">
                                    <label class="label" for="account_name">Account Name</label>
                                    <input type="text" class="form-control form-control-alternative" id="account_name"
                                        placeholder="Account Name" autofocus status="primary">
                                </div>
                                <div class="form-group">
                                    <label class="label" for="email">Email address</label>
                                    <input class="form-control form-control-alternative" type="email" id="email"
                                        placeholder="Email address" autofocus status="primary">
                                </div>
                                <div class="form-group">
                                    <label class="label" for="position">Position</label>
                                    <input class="form-control form-control-alternative" type="text" id="position"
                                        placeholder="Position" autofocus status="primary">
                                </div>
                                <div class="form-group">
                                    <label class="label" for="Roles">Access Role</label><br>
                                    <select class="form-control form-control-alternative" [(ngModel)]="accountRole"
                                        placeholder="Access Role" name="Roles" ariaLabel="roles[0]" status="primary">
                                        <option *ngFor="let rl of roles" [value]="rl.name">{{rl.name}}</option>
                                    </select>
                                </div>
                                <br><br>
                                <button [disabled]="button_pressed" class="btn btn-success" (click)="registerUser()">
                                    {{!button_pressed ? 'Add User' : 'Please wait...'}}
                                </button>
                                <button [disabled]="button_pressed" class="btn btn-danger"
                                    (click)="cancelAddUser()">Cancel</button>
                            </form>
                        </nb-card-body>
                    </nb-card>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #user let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-body">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <!-- <i class="material-icons">mail_outline</i> -->
                        </div>
                        <h4 class="card-title">Update User</h4>
                    </div>
                    <div class="card-body ">
                        <form>
                            <div class="form-group">
                                <label class="label" for="Roles">Access Role</label><br>
                                <select class="form-control form-control-alternative" [(ngModel)]="accountRole"
                                    placeholder="Access Role" name="Roles" ariaLabel="roles[0]" status="primary">
                                    <option *ngFor="let rl of roles" [value]="rl.name">{{rl.name}}</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="label" for="Blocked">Blocked Status</label><br>
                                <select class="form-control form-control-alternative" [(ngModel)]="blocked_status"
                                    placeholder="Blocked Status" name="Blocked" ariaLabel="blocks_data[0]"
                                    status="primary">
                                    <option *ngFor="let bd of blocks_data" [value]="bd.value">{{bd.viewValue}}</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="label" for="Blocked">Approved Status</label><br>
                                <select class="form-control form-control-alternative" [(ngModel)]="approved_status"
                                    placeholder="Approved Status" name="Blocked" ariaLabel="blocks_data[0]"
                                    status="primary">
                                    <option *ngFor="let bd of blocks_data" [value]="bd.value">{{bd.viewValue}}</option>
                                </select>
                            </div>
                            <br>
                            <button [disabled]="button_pressed" type="submit" class="btn btn-success"
                                (click)="userButtonAction()">{{!button_pressed ? 'Update' : 'Please wait...'}}</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="c('Close click')">Close</button>
        </div>
    </div>
</ng-template>